
.chart {
  height: 500px;
}

.location {
    font-family: 'PT Serif', serif;
    font-size: 25px;
    font-weight: bold;
}

.header {
    font-family: 'PT Serif', serif;
    font-size: 70px;
    font-weight: bold;
    margin: 5px;
}

.text, .byline {
    font-family: "Georgia";
}

.byline {
    margin: -10px;
}

.text {
    margin: 10px;
}

.innertext {
    font-family: "Georgia";
    font-size: 12px;
}


div.col-md-6 {
    margin-left: 260px;
}

.top-header {
    background-color: black;
    text-align: left;
    padding: 10px 10px 10px 10px;

}

.top-header img {
    width: 60px;
}